*,
::before,
::after {
    box-sizing: border-box;
}

a,
a:focus,
a:active,
a:visited {
    color: var(--accent-color);
    text-decoration: none;
}

:root {
    font-family: Play, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: #ddd;
    background-color: #222;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    width: 800px;
    height: 600px;
    overflow: hidden;
}

#root {
    height: 100%;
    overflow: hidden;
}
