:root {
    --accent-color: #f55;
}

.theme--dark {
    --color--app-bg: #222;
    --color--content-panel-bg: rgba(255, 255, 255, 0.05);
    --color--border: #444;
    --color--app-header: #ccc;
    --color--text: #ddd;
    --color--link: #888;
    --color--label: var(--accent-color);
}

.theme--bokeh {
    --color--app-bg: #333;
    --color--content-panel-bg: rgba(0, 0, 0, 0.6);
    --color--border: #444;
    --color--app-header: #ccc;
    --color--text: #fff;
    --color--link: #999;
    --color--label: var(--accent-color);
}

.theme--light {
    --color--app-bg: #fdfdfd;
    --color--border: #ccc;
    --color--app-header: #999;
    --color--content-panel-bg: rgba(0, 0, 0, 0);
    --color--text: #000;
    --color--link: #888;
    --color--label: var(--accent-color);
}
