.about-form {
    padding: 32px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
}

.about-label {
    color: var(--color--label);
}
.about-label::after {
    content: ':';
}

.about-value {
    color: var(--color--text);
}
