@keyframes loading-spinner-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.pull-requests {
    --color--pr--open: #2da44e;
    --color--pr--merged: #8250df;
    --color--pr--draft: #6e7781;
    --color--pr--closed: #cf222e;
    --color--rv--awaiting: #bbbbbb;
    --color--rv--commented: #bf8700;
    --color--rv--approved: #2da44e;
    --color--rv--changes-requested: #cf222e;
    --color--rv--dismissed: #6e7781;
    display: grid;
    grid-template-columns: 32px;
    grid-template-rows: auto 1fr;
    font-size: 15px;
    overflow: hidden;
}

.prs-wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 32px 1fr;
    gap: 4px;
    overflow: hidden;
}

.prs-filters {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 6px;
}

.filter-btn {
    width: 80px;
    height: 22px;
    margin-left: 4px !important;
    border: 1px solid #fff !important;
    background-color: transparent !important;
    color: #fff !important;
    font-size: 15px !important;
    text-transform: none !important;
}
.filter-btn:nth-child(5) {
    margin-left: 32px !important;
}

.prs-wrapper.open .filter-btn--open {
    background-color: var(--color--pr--open) !important;
    border: none !important;
}
.prs-wrapper.merged .filter-btn--merged {
    background-color: var(--color--pr--merged) !important;
    border: none !important;
}
.prs-wrapper.draft .filter-btn--draft {
    background-color: var(--color--pr--draft) !important;
    border: none !important;
}
.prs-wrapper.closed .filter-btn--closed {
    background-color: var(--color--pr--closed) !important;
    border: none !important;
}
.prs-wrapper.creator .filter-btn--creator,
.prs-wrapper.reviewer .filter-btn--reviewer,
.prs-wrapper.assignee .filter-btn--assignee {
    background-color: #888 !important;
}

.prs-filters .MuiFormControlLabel-label {
    font-size: 15px;
}

.prs-container {
    position: relative;
    overflow: auto;
    user-select: none;
}

.pr-container {
    display: none;
}
.prs-wrapper.open.creator .pr-container.open.creator,
.prs-wrapper.open.reviewer .pr-container.open.reviewer,
.prs-wrapper.open.assignee .pr-container.open.assignee,
.prs-wrapper.merged.creator .pr-container.merged.creator,
.prs-wrapper.merged.reviewer .pr-container.merged.reviewer,
.prs-wrapper.merged.assignee .pr-container.merged.assignee,
.prs-wrapper.draft.creator .pr-container.draft.creator,
.prs-wrapper.draft.reviewer .pr-container.draft.reviewer,
.prs-wrapper.draft.assignee .pr-container.draft.assignee,
.prs-wrapper.closed.creator .pr-container.closed.creator,
.prs-wrapper.closed.reviewer .pr-container.closed.reviewer,
.prs-wrapper.closed.assignee .pr-container.closed.assignee {
    display: block;
}

.loading-spinner {
    width: 64px;
    height: 64px;
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    animation: loading-spinner-animation 2s linear infinite;
    user-select: none;
}

.pr-container {
    border-top: 1px solid #444;
    padding: 4px;
}

.pr-line {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
}

.pr-state {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    padding: 2px;
}
.pr-state--open {
    background-color: var(--color--pr--open);
}
.pr-state--merged {
    background-color: var(--color--pr--merged);
}
.pr-state--draft {
    background-color: var(--color--pr--draft);
}
.pr-state--closed {
    background-color: var(--color--pr--closed);
}
.pr-state-img {
    height: 16px;
    width: 16px;
}

.pr-link {
    position: relative;
    top: 1px;
    flex: 0 0 auto;
    color: #888 !important;
}

.pr-title {
    position: relative;
    top: 1px;
    flex: 1 1 auto;
}

.pr-reviewer {
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.pr-review-state-img {
    width: 20px;
    height: 20px;
    position: relative;
}
.pr-review-state--awaiting > .pr-review-state-img {
    top: 1px;
}
.pr-review-state--commented > .pr-review-state-img {
    top: 1px;
    margin-right: 1px;
}
.pr-review-state--changes_requested > .pr-review-state-img {
    margin-right: 1px;
}
.pr-review-state--approved > .pr-review-state-img {
    top: -1px;
}
.pr-review-state--dismissed > .pr-review-state-img {
}

.pr-reviewer-name {
    color: #fff;
    white-space: nowrap;
}
.pr-review-state--awaiting > .pr-reviewer-name {
    color: var(--color--rv--awaiting);
}
.pr-review-state--commented > .pr-reviewer-name {
    color: var(--color--rv--commented);
}
.pr-review-state--approved > .pr-reviewer-name {
    color: var(--color--rv--approved);
}
.pr-review-state--changes_requested > .pr-reviewer-name {
    color: var(--color--rv--changes-requested);
}
.pr-review-state--dismissed > .pr-reviewer-name {
    color: var(--color--rv--dismissed);
}
