.pull-requests {
    --color--pr--open: #2da44e;
    --color--pr--merged: #8250df;
    --color--pr--draft: #6e7781;
    --color--pr--closed: #cf222e;

    --color--rv--owner: var(--color--text);
    --color--rv--awaiting: #bbbbbb;
    --color--rv--pending: #bbbbbb;
    --color--rv--commented: #cc9933;
    --color--rv--approved: #33cc33;
    --color--rv--changes-requested: #cc3333;
    --color--rv--dismissed: #666666;

    --color--build--running: #3399ff;
    --color--build--success: #33cc33;
    --color--build--failure: #cc3333;
    --color--build--unstable: #cc9933;
    --color--build--aborted: #666666;

    display: grid;
    grid-template-columns: 32px;
    grid-template-rows: auto 1fr;
    font-size: 15px;
    overflow: hidden;
}

.prs-wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 38px 1fr;
    overflow: hidden;
}

@keyframes loading-spinner-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    width: 64px;
    height: 64px;
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    animation: loading-spinner-animation 2s linear infinite;
    user-select: none;
}

.prs-filters {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color--border);
}

.filter-btn {
    width: 80px;
    height: 22px;
    margin-left: 4px !important;
    background-color: transparent !important;
    border: 1px solid var(--color--text) !important;
    color: var(--color--text) !important;
    font-size: 15px !important;
    text-transform: none !important;
}
.filter-btn:nth-child(5) {
    margin-left: 32px !important;
}

.prs-wrapper.open .filter-btn--open {
    background-color: var(--color--pr--open) !important;
    border: none !important;
    color: #fff !important;
}
.prs-wrapper.merged .filter-btn--merged {
    background-color: var(--color--pr--merged) !important;
    border: none !important;
    color: #fff !important;
}
.prs-wrapper.draft .filter-btn--draft {
    background-color: var(--color--pr--draft) !important;
    border: none !important;
    color: #fff !important;
}
.prs-wrapper.closed .filter-btn--closed {
    background-color: var(--color--pr--closed) !important;
    border: none !important;
    color: #fff !important;
}

.prs-filters .MuiFormControlLabel-label {
    position: relative;
    top: 1px;
    font-size: 15px;
    color: var(--color--text);
    user-select: none;
}

.prs-container {
    position: relative;
    overflow: auto;
    user-select: none;
}

.pr-container {
    display: none;
    border-bottom: 1px solid var(--color--border);
    padding: 4px;
    grid-template-columns: 1fr 60px;
    grid-template-rows: auto;
    gap: 8px;
}
.prs-wrapper.open.creator .pr-container.open.creator,
.prs-wrapper.open.reviewer .pr-container.open.reviewer,
.prs-wrapper.open.assignee .pr-container.open.assignee,
.prs-wrapper.merged.creator .pr-container.merged.creator,
.prs-wrapper.merged.reviewer .pr-container.merged.reviewer,
.prs-wrapper.merged.assignee .pr-container.merged.assignee,
.prs-wrapper.draft.creator .pr-container.draft.creator,
.prs-wrapper.draft.reviewer .pr-container.draft.reviewer,
.prs-wrapper.draft.assignee .pr-container.draft.assignee,
.prs-wrapper.closed.creator .pr-container.closed.creator,
.prs-wrapper.closed.reviewer .pr-container.closed.reviewer,
.prs-wrapper.closed.assignee .pr-container.closed.assignee {
    display: grid;
}

.pr-left-side {
    overflow: hidden;
}
.pr-right-side {
}

.pr-line--grid {
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 4px;
}

.pr-line--flex {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
}

.pr-state {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    padding: 2px;
}
.pr-state--open {
    background-color: var(--color--pr--open);
}
.pr-state--merged {
    background-color: var(--color--pr--merged);
}
.pr-state--draft {
    background-color: var(--color--pr--draft);
}
.pr-state--closed {
    background-color: var(--color--pr--closed);
}
.pr-state-img {
    height: 16px;
    width: 16px;
}

.pr-link {
}

.pr-number {
    color: var(--color--link);
}

.pr-title {
    flex: 1 1 auto;
    color: var(--color--text);
}

.pr-reviewer {
    display: flex;
    align-items: center;
    margin-right: 4px;
}
.theme--dark .pr-reviewer,
.theme--light .pr-reviewer {
    filter: brightness(0.8);
}

.pr-review-state-img {
    width: 20px;
    height: 20px;
    position: relative;
}
.pr-review-state--owner > .pr-review-state-img {
}
.pr-review-state--awaiting > .pr-review-state-img {
    top: 1px;
}
.pr-review-state--pending > .pr-review-state-img {
    margin-right: -2px;
}
.pr-review-state--commented > .pr-review-state-img {
    top: 1px;
    margin-right: 1px;
}
.pr-review-state--changes_requested > .pr-review-state-img {
    margin-right: 1px;
}
.pr-review-state--approved > .pr-review-state-img {
    top: -1px;
}
.pr-review-state--dismissed > .pr-review-state-img {
}

.pr-reviewer-name {
    color: var(--color--text);
    white-space: nowrap;
}
.pr-review-state--owner > .pr-reviewer-name {
    color: var(--color--rv--owner);
}
.pr-review-state--awaiting > .pr-reviewer-name {
    color: var(--color--rv--awaiting);
}
.pr-review-state--pending > .pr-reviewer-name {
    color: var(--color--rv--pending);
}
.pr-review-state--commented > .pr-reviewer-name {
    color: var(--color--rv--commented);
}
.pr-review-state--approved > .pr-reviewer-name {
    color: var(--color--rv--approved);
}
.pr-review-state--changes_requested > .pr-reviewer-name {
    color: var(--color--rv--changes-requested);
}
.pr-review-state--dismissed > .pr-reviewer-name {
    color: var(--color--rv--dismissed);
}

.custom-build {
    display: flex;
    align-items: center;
    gap: 4px;
}
.theme--dark .custom-build,
.theme--light .custom-build {
    filter: brightness(0.8);
}
.custom-build--running {
    --build-color: var(--color--build--running);
}
.custom-build--success {
    --build-color: var(--color--build--success);
}
.custom-build--failure {
    --build-color: var(--color--build--failure);
}
.custom-build--unstable {
    --build-color: var(--color--build--unstable);
}
.custom-build--aborted {
    --build-color: var(--color--build--aborted);
}

@keyframes led-running-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.25;
    }
    100% {
        opacity: 1;
    }
}

.build-led {
    position: relative;
    width: 12px;
    height: 12px;
    margin-left: 4px;
    border-radius: 50%;
    background-color: var(--build-color);
    box-shadow: var(--build-color) 0 0 10px;
}
.build-led::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--build-color);
    box-shadow: var(--build-color) 0 0 4px;
    filter: brightness(1.5);
}
.custom-build--running > .build-led {
    transition: all 0.5s ease-in-out 0s;
    animation: led-running-animation 2s linear infinite;
}
.custom-build--running > .build-led::before {
    filter: brightness(1.2);
    transition: all 0.5s ease-in-out 0s;
}
.custom-build--success > .build-led::before {
    filter: brightness(1.5);
}
.custom-build--failure > .build-led::before {
    filter: brightness(1.5);
}
.custom-build--unstable > .build-led::before {
    filter: brightness(1.2);
}
.custom-build--aborted > .build-led::before {
    filter: brightness(1.2);
}

.custom-build-title {
    color: var(--build-color);
}
