.masthead {
    height: 48px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 4px 0 12px;
    user-select: none;
}

.header > div {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-image {
    width: 24px;
    height: 24px;
    background-color: #f55;
    border-radius: 2px;
}

.header-title {
    position: relative;
    top: -1px;
    margin-left: 2px;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    font-family: Play, sans-serif;
}
